{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush",id="notes">
</ul>
{% for note in user.notes %}
<li class="list-group-item">{{ note.note }}
    <button type="button" class="close" onclick="deleteNote({{ note.id }})">Delete</button>
    <span aria-hidden="true">&times;</span>
</li>
{% endfor %}
<form method="POST">
    <textarea name="note" class="form-control" placeholder="Type your note here..." required></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary mt-3">Add Note</button>
    </div>
</form>
{% endblock %}

